/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #dbb,
    #a75 51.77%,
    #a77 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.WeekDayAlarms {
  display: flex;
}

.Chips {
  display: flex;
  align-items: center;
  background: #744;
  padding: 0 5px;
  border-radius: 10px;
  margin: 0 8px;
}

.Chips input {
  background-color: #966;
  border: none;
  margin-right: 5px;
}
